{% extends 'userapp/base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class=" text-center mt-4">
        <img src="{{d.Event_logo.url}}" style="width:50%;"/>
          <h3 class="text-dark">{{d.Cost}} PYG </h3>
                  <p class="mt20">{{d.Description}} </p>
      
        </div>
        <div>
            <form action="" method="POST" enctype="multipart/form" >
                {% csrf_token %}
                <div class="container-fluid grid">
                  
                  <div class="row pull-center">
                    <div  style="margin: 0 auto; width: 80%;">
              
                      <div class="well ">
              
                        <div class="row card">
                        </div>
              
                        <br/>
                        <div class="my-card">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Credit Card Number </label>
                              <input type="hidden" id="eventcost" name="price">
                              <input type="text" name="number" class="form-control" required/>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Expiration</label>
              
                              <input type="text" placeholder="MM/YY" name="expiry" class="form-control" required/>
              
                            </div>
                          </div>
                        </div>
              
                        <div class="row ">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" name="name" class="form-control" value="{{request.session.name}}"required/>
                            </div>
                          </div>
              
                          <div class="col-md-6">
                            <div class="form-group">
              
                              <label>CVC </label>
              
                              <input type="text" name="cvv" class="form-control" required/>
                            </div>
                          </div>
                        </div>
                      </div>
                       
              
                      </div>
                    </div>
                  </div>
              
              
            </p>
            <p class="text-center"><button type="submit" class="btn btn-success ">Buy Now</button></p>
          </form>
        </div>
</div>
{% endblock body %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/card/1.3.1/js/card.min.js"></script>

<script src="https://js.stripe.com/v3/"></script>
<script>
   new Card({
  form: 'form',
  container: '.card',
  formSelectors: {
    numberInput: 'input[name=number]',
    expiryInput: 'input[name=expiry]',
    cvcInput: 'input[name=cvv]',
    nameInput: 'input[name=name]'
  },

  width: 390, // optional — default 350px
  formatting: true,

  placeholders: {
    number: '•••• •••• •••• ••••',
    name: 'Full Name',
    expiry: '••/••',
    cvc: '•••'
  }
})

document.getElementById('eventcost').value = {{d.Cost}}
</script>
  
{% endblock script %}