{% extends "superadmin/base.html" %}
{% block body %}
<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Usuario</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Lista de usuarios</a></li>
        </ol>
    </div>
    <div class="row mb-5 align-items-center">
        <!-- <div class="col-lg-3 mb-4 mb-lg-0 ">
            <a href="{% url 'superadminaddeventtype' %}" class="btn btn-primary light  btn-lg btn-block rounded  ">+New
                Event Type</a>
        </div> -->
        <div class="col-lg-9">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id="example-5" class="table display mb-4  fs-14">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox mr-0 align-self-center">
                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" id="checkAll" required="">
                                        <label class="custom-control-label" for="checkAll"></label>
                                    </div>
                                </div>
                            </th>
                           
                            <th>User Name</th>
                            <th>Event Name</th>
                            <th>Amount</th>
                            <th>Start Date</th>
                            <th>End Date</th>

                            <!-- <th>Action</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>
                                <div class="checkbox mr-0 align-self-center">
                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" id="customCheckBox2"
                                            required="">
                                        <label class="custom-control-label" for="customCheckBox2"></label>
                                    </div>
                                </div>
                            </td>

                           
                           
                            <td>{{d.user_id.Name}} {{d.user_id.Surname}}</td>
                            <td>{{d.EventId}}</td>
                            <td>{{d.EventId.Cost}}</td>
                            <td>{{d.EventId.Registration_start}}</td>
                            <td>{{d.EventId.Registration_end}}</td>
                           

                            <!-- <td>
                                <div class="d-flex">
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>

                                    </a>
                                    <a href="javascript:void(0);" class="ml-4">
                                        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </td> -->
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock body %}